<div class="btn-group rs-toggle-switch">
    <button
        class={{button1ClassName}}
        {{action 'toggle'}}
        disabled={{disabled}}
    >
        <span class={{icon1ClassName}}></span>
    </button>
    <button
        class={{button2ClassName}}
        {{action 'toggle'}}
        disabled={{disabled}}
    >
        <span class={{icon2ClassName}}></span>
    </button>
</div>