<div class="modal fade billing-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title modal-title-error">{{t 'billing.payment_error'}}</h4>
            </div>

            <div class="modal-body">
                <p>{{t 'billing.problem'}}</p>
                <p> </p>
                <p class="error">{{model.error}}</p>
                <div class="clearfix"> </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" name="tryAgain" {{action "tryAgain"}}>{{t 'application.try_again'}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{t 'application.cancel'}}</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
