<div class="modal fade autoadd-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{model.name}}</h4>
            </div>
            <div class="modal-body">

                <div class="canvas-wrapper">
                </div>

                <div class="modal-body-text">
                    <p>{{t 'selector.autoadd_matching_decal' name=oppositePosition.name}}</p>
                    <p>{{t 'selector.autoadd_matching_decal_confirm' name=model.name}}</p>
                </div>

            </div><!-- /.modal-body -->
            
            <div class="modal-footer">
                <button type="button" name="noThanksAutoAdd" class="btn btn-default" data-dismiss="modal">{{t 'application.no_thanks'}}</button>
                <button type="button" name="yesAutoAdd" class="btn btn-primary" {{action 'autoadd' target="view"}}>{{t 'selector.yes_autoadd'}}</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
