{{#if view.showContentDelay}}
<div class="interview-step-carousel" data-interview-section="targetcategory">
    {{#if view.showContent}}
    <h4>{{t 'interview.targetcategory_title'}}</h4>
    {{/if}}

    {{#if targetCategories.isFulfilled}}
    {{#if view.showContent}}
        <div class="block-elements">
            {{#each targetCategory in targetCategories}}
                <div class="selectable element"
                     title="{{targetCategory.name}}"
                     data-searchfor="{{targetCategory.name}}"
                     data-targetcategory-name="{{targetCategory.name}}"
                     data-value="{{targetCategory.name}}"
                    {{action "chooseTargetCategory" targetCategory}}>
                    <div class="img-container">
                        <img src="{{targetCategory.imageUrl}}" alt="{{targetCategory.name}}"/>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
    {{else}}
        {{#if view.showContent}}
        <div class="saving-throbber"></div>
        {{/if}}
    {{/if}}
</div>
{{/if}}
