<div class="interview-step-carousel" data-interview-section="use4">
    <h4>{{t 'interview.use4_title'}}</h4>

    {{#if sortedUse4s}}
        <div class="block-elements">

            {{#each use in sortedUse4s}}
                <div class="selectable element generic-icon"
                     title="{{use.name}}"
                     data-searchfor="{{use.name}}"
                     data-use4-name="{{use.name}}"
                     data-use4-id="{{use.id}}"
                    {{action "chooseUse4" use}}>
                    <div class="impact small">{{use.name}} </div>
                </div>
            {{/each}}

            <div class="selectable element generic-icon"
                 title="None"
                 data-searchfor="None"
                 data-use4-name="None"
                {{action "skipUse4"}}>
                <div class="impact small">{{t 'interview.carousel_not_in_list'}}</div>
            </div>
        </div>
    {{else}}
        <div class="saving-throbber"></div>
    {{/if}}
</div>
