<div class="rs-progressbar">
  <ol>
      <li data-stage-name="interview" class="{{view.interviewClass}}"><span class="progressbar-text">{{t 'progressbar.discovery'}}</span></li><!--
      --><li data-stage-name="design" class="{{view.designClass}}"><span class="progressbar-text">{{t 'progressbar.design'}}</span></li><!--
      --><li data-stage-name="checkout" class="{{view.checkoutClass}}"><span class="progressbar-text">{{t 'progressbar.checkout'}}</span></li>
  </ol>
</div>
