<div id="viewport-too-small" class="error-page" style="display: none">
    <div class="motocal-logo"> </div>

    <h1>{{t 'inline.too_small'}}</h1>

    <p>{{t 'inline.come_back'}}</p>

    <p>{{t 'inline.your_experience'}}</p>

    <p>{{t 'inline.by_the_way'}}</p>

    <p class="small">{{t 'inline.minimum_resolution'}}</p>

    <aside class="resize sprite-resize-icon">
    </aside>
</div>
